python==3.11
efficientnet_pytorch==0.7.1
joblib==1.4.2
matplotlib==3.8.0
numpy==1.24.4
pandas==2.0.3
Pillow==11.1.0
pyquaternion==0.9.9
shap==0.44.1
streamlit==1.40.1
tensorboardX==2.6.2.2
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
lightgbm==4.5.0
